html,body {
    font-family: 'Microsoft YaHei UI';
}
.game-box {
    padding: 50px;
    margin: 0 auto;
    width: 500px;
}
.btn, .input {
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.btn{
    color: aliceblue;
    background-color: cyan;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    line-height: 30px;
}
.input {
    width: 100%;
    height: 30px;
    display: inline-block;
}
.scene{
    margin: 0 auto;
    width: 100%;
}
.scene0 {
    height: 50px;
    line-height: 50px;
    font-size: 25px;
}
.scene1{
    text-align: center;
}
.scene2{
    text-align: left;
}
.tip{
    font-size: 17px;
    margin: 10px auto;
    display: block;
}
.next {
    background-color: lime;
}
.sort{
    background-color: #ff8018;
}
.sort:hover{
    background-color: orangered;
}
.next:hover{
    background-color: green;
}
.restart {
    background-color: red;
}
.show-record{
    background-color: dodgerblue;
}
.show-record:hover{
    background-color: blue;
}
.restart:hover{
    background-color: brown;
}
.success{
    font-size: 17px;
    margin: 10px auto;
    display: block;
    color: darkorange;
}
.living-role table{
    margin: 20px 0;
    width: 100%;
}
.remove-role{
    color: red;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
}
.counter{
    position: absolute;
    top:100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    color: red;
    font-size: 100px;
}
.counter div{
    position: absolute;
    top:0;
    left: 0;
}
.record{
    position: absolute;
    top:100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    background-color: black;
    opacity: 0.2;
    color: aliceblue;
    padding: 20px;
}
.record table{
    width: 100%;
}
.record table td{
    text-align: center;
}




